body{
    background: url(bg.jpg);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
    text-align: justify; 
    align-items: center;    
}

/*Botão Mapas no Cabeçalho--------------------------------------------------------------------------------*/
button#mapas{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: rgb(212, 18, 18);
    border-radius: 8px;
    padding: 20px 20px;
    margin-left: 5px;
    box-shadow: 1px 1px 1px 1px rgba(26, 25, 25, 0.808);
    
}

button#mapas:hover{
    cursor: pointer;
    background-color: rgba(18, 112, 41, 0.993);

}

/*Cabeçalho--------------------------------------------------------------------------------*/
header{        
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;       
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;    
    
    
}

h1{
    color: white;              
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-style: bold;
    text-shadow: 25px 25px 25px 25px white;
    text-align: center;
    animation-duration: 5s;
    animation-name: fade;          
    border: 1px solid black;
    background-color: rgba(18, 112, 42, 0.897);
    align-items: center;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(26, 25, 25, 0.808);    
}

div#flag{
    display: flex;
    align-items: center;
    justify-content: center;        
    margin-bottom: 30px;  
    animation-duration: 3s;
    animation-name: slidein;              
}

h2{
    font-style: bold;
}

/*Menu--------------------------------------------------------------------------------*/
div#menu{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;    
        
    margin-top: 60px; 
    margin-bottom: 40px;   
    text-align: center; 
   
}

button#info{
    color:white;
    background-color: rgb(4, 39, 194, 0.897);
    box-shadow: 1px 1px 1px 1px rgba(26, 25, 25, 0.808);
    border-radius: 8px;      
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
    text-align: center; 
    display: grid; 
    align-items: center;
    height: 300px;
    width: 250px;
    margin-bottom: 30px;  
    animation-duration: 2s;
    animation-name: slidein;        
}

button#info:hover{
    cursor: pointer;
    background-color: rgba(224, 94, 19, 0.993);
}

button#food{
    color:white;
    background-color: rgb(4, 39, 194, 0.897);
    box-shadow: 1px 1px 1px 1px rgba(26, 25, 25, 0.808);
    border-radius: 8px;    
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
    text-align: center; 
    display: grid; 
    align-items: center;
    height: 300px;
    width: 250px;
    margin-bottom: 30px;   
    animation-duration: 2s;
    animation-name: slidein;       
}

button#food:hover{
    cursor: pointer;
    background-color: rgba(224, 94, 19, 0.993); 
}

button#cult{
    color:white;
    background-color:rgb(4, 39, 194, 0.897);  
    box-shadow: 1px 1px 1px 1px rgba(26, 25, 25, 0.808);
    border-radius: 8px;    
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
    text-align: center; 
    display: grid; 
    align-items: center;
    height: 300px;
    width: 250px;
    margin-bottom: 30px;    
    animation-duration: 2s;
    animation-name: slidein;      
}

button#cult:hover{
    cursor: pointer;
    background-color: rgba(224, 94, 19, 0.993);  
}

button#poleco{
    color:white;
    background-color: rgb(4, 39, 194, 0.897);
    box-shadow: 1px 1px 1px 1px rgba(26, 25, 25, 0.808);
    border-radius: 8px;
    display: grid; 
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
    text-align: center;     
    height: 300px;
    width: 250px;
    margin-bottom: 30px;    
    animation-duration: 2s;
    animation-name: slidein;      
}

button#poleco:hover{
    cursor: pointer;
    background-color: rgba(224, 94, 19, 0.993);
}

/*Rodapé--------------------------------------------------------------------------------*/
footer{
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
}

div#som{
    background-color:rgba(18, 112, 42, 0.897);
    padding: 5px 5px 5px 5px;
    display: inline-block;
    border-radius: 8px;
    border:1px solid black;  
    box-shadow: 1px 1px 1px 1px rgba(26, 25, 25, 0.808);
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt; 
    align-items: center;
    
    
}

/*Animações--------------------------------------------------------------------------------*/
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 10%
      }
      to {
        margin-right: 10%;
        width: 100%;
      }
  }

  @keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /*Responsividade--------------------------------------------------------------------------------*/
  @media (min-width: 800px) {
    html{
        font-size: 87.5%;
    }    
}
