body{
    background: url(./img/bg.jpg);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px; 
    text-align: justify; 
    align-items: center;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    
}

/*Botão Mapas no Cabeçalho--------------------------------------------------------------------*/

#mapas{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    background-color: rgb(212, 18, 18);
    border-radius: 4px;
    padding: 10px 10px;        
    box-shadow: 5px 9px rgb(26, 25, 25);
    margin-bottom: 20px;   
    
}

#mapas:hover{
    cursor: pointer;
    background-color: rgb(4, 39, 194, 0.897);

}

#mapas:active {
    background-color: rgb(4, 39, 194, 0.897);
    box-shadow: 0 5px rgb(65, 63, 63);
    transform: translateY(4px);
}    

/*Cabeçalho--------------------------------------------------------------------------------*/

header{         
    margin-bottom: 30px;       
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;      
    float: left;
    
}

#nostra{
    color: rgb(6, 59, 17);
    background-color: white;   
    padding: 25px 25px 25px 25px;
    border: 1px solid black;
    border-radius: 4px;     
    font-family: 'Noto Sans KR', sans-serif;    
    font-size: 55px;
    font-style: bold; 
    font-weight: 700;   
    text-align: center;    
    align-items: center;     
    text-decoration: none;            
    padding: 10px 10px 10px 10px;
    float: left;    

}

#flag{
    align-items: center;    
}


/*Menu--------------------------------------------------------------------------------*/

.container{
    display: inline-block;
    text-align: center; 
    background-color: white;   
    padding: 25px 25px 25px 25px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486), 0 6px 20px 0 rgba(0, 0, 0, 0.603); 
    
    animation-duration: 2s;
    animation-name: fade; 
}

hr{
    border: 1px solid red;
}

h2{
    text-align: center;
    color: rgb(6, 59, 17);
}

#texto{      
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 10px; 
    line-height: 30px;
    display: grid;
    
}

#buttons{    
    display: flex;
    flex-direction: row;  
    margin-bottom: 40px;      
    text-align: center;   
    
}

#img{
    background-color:rgb(4, 39, 194, 0.897);
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 9px rgb(26, 25, 25);
    cursor: pointer;
}

#img:hover{
    background-color: white;
}


#img:active {
    background-color: rgb(4, 39, 194, 0.897);
    box-shadow: 0 5px rgb(65, 63, 63);
    transform: translateY(4px);
}    


/*Rodapé--------------------------------------------------------------------------------*/

footer{
    display: inline-block;
    text-align: center;      
    margin-top: 50px; 
    line-height: 30px;  

    animation-duration: 4s;
    animation-name: slideIn;
}

#audio{
    border: 2px solid black;
    border-radius: 4px;
    width:280px;
    height: 40px;    
    
}

.alert{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13pt; 
    margin-top: 20px;      
}

#click{
    text-decoration: none;
    color: red;    
    font-style: bold;
    font-weight: 700; 
}

/*Animações--------------------------------------------------------------------------------*/

@keyframes slideIn {
    from {
        margin-left: 100%;
        width: 10%
      }
      to {
        margin-right: 10%;
        width: 100%;
      }
}

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Responsividade--------------------------------------------------------------------------------*/

@media (min-width: 800px) {
    html{
        font-size: 87.5%;
        grid-template-columns: auto;
    }    
}
